.vue-notification {
  margin: 15px 30px !important;
  border-radius: var(--maz-border-radius);
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
  font-weight: normal !important;
  letter-spacing: 0.5px;

  &.warn {
    border-left-color: var(--maz-danger) !important;
    background: var(--maz-hover-color) !important;
  }
 
  &.error {
    border-left-color: var(--maz-error) !important;
    background: var(--maz-hover-color) !important;
  }
 
  &.success {
    border-left-color: var(--maz-success) !important;
    background: var(--maz-hover-color) !important;
  }
}
