.maz-dialog__header {
  background-color: transparent !important;
}

.maz-sidebar__wrapper__content {
  overflow: auto !important;
  padding-bottom: 60px;
}

.maz-btn--primary {
  color: var(--maz-dark);
}

.maz-btn--secondary,
.maz-btn--default,
.maz-btn--secondary.maz-btn--outline:hover:not(:disabled), 
.maz-btn--secondary.maz-btn--outline:focus:not(:disabled), 
.maz-btn--secondary.maz-btn--outline.maz-active:not(:disabled),
.maz-btn--default:hover:not(:disabled),
.maz-btn--default:focus:not(:disabled),
.maz-btn--default.maz-active:not(:disabled) {
  color: var(--maz-dark);
}

.maz-sidebar__wrapper__close-btn button {
  background-color: var(--maz-bg-color);
}

.maz-switch--primary .maz-switch__input:focus+.maz-switch__toggle span {
  background-color: var(--maz-primary); 
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.maz-card__content__wrapper {
  padding: 0;
}

.maz-btn--fab {
  width: 30px;
  height: 30px;
}

.maz-btn--primary.maz-btn--outline:hover:not(:disabled),
.maz-btn--primary.maz-btn--outline:focus:not(:disabled),
.maz-btn--primary.maz-btn--outline.maz-active:not(:disabled) {
  color: var(--maz-black);
  outline: none;
}

.maz-radio [type='radio']:not(:checked)+label::before {
  border-color: var(--maz-text-color);
}

.maz-dialog__container {
  width: 100%;
}
