.maz-dialog__header {
  background-color: transparent !important;
}

.maz-sidebar__wrapper__content {
  overflow: auto !important;
  padding-bottom: 60px;
}

.maz-btn--primary {
  color: var(--maz-dark);
}

.maz-sidebar__wrapper__close-btn button {
  background-color: var(--maz-bg-color);
}
