body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.app {
  color: var(--maz-text-color);
  background-color: var(--maz-bg-color-light);
}

a {
  text-decoration: none;
  color: var(--maz-text-color) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
