@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

h1,
.h1 {
  font-size: 30px;
  font-weight: 500;
}

h2,
.h2 {
  font-size: 26px;
}

h3,
.h3 {
  font-size: 22px;
}

h4,
.h4 {
  font-size: 16px;
}

a {
  color: var(--maz-primary);
}
