@import "../node_modules/basscss/css/basscss-important.min.css";

.bg-light-gray {
  background: rgba(0,0,0,0.05);
}

.text-capitalize {
  text-transform: capitalize;
}

.w-100 {
  width: 100%;
}

.property-action {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}
