@import "../node_modules/minireset.css/minireset.css";

@import "../node_modules/basscss/css/basscss-important.min.css";

.bg-light-gray {
  background: rgba(0, 0, 0, 0.05);
}

.text-capitalize {
  text-transform: capitalize;
}

.w-100 {
  width: 100%;
}


.drag-handle {
  cursor: move;
}

.el-autocomplete-suggestion {
  position: absolute;
  z-index: 1;
}
